:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #F2EAD3;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #d9a05b;
  --fc-border-color: #c7bba3;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #cf6c36;
  --fc-button-border-color: #cf6c36;
  --fc-button-hover-bg-color: #e24816;
  --fc-button-hover-border-color: #e24816;
  --fc-button-active-bg-color: #e24816;
  --fc-button-active-border-color: #e24816;

  --fc-event-bg-color: #f1a23b;
  --fc-event-border-color: #f1a23b;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #F2EAD3;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
  --fc-col-header-cell-color: #394149;
}

.modal-content {
  background-color: #F2EAD3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
 
}
.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}